<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="product">
                        <div class="product-image">
                            <img :src="image" alt="" />
                        </div>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="product-info">
                        <h1>{{product}}</h1>
                        <p v-if="inStock">In Stock</p>
                        <p v-else="inStock">Out of Stock</p>

                        <ul>
                            <li v-for="detail in details">{{detail}}</li>
                        </ul>
                        <div v-for="variant in variants" :key="variant.variantId">{{variant.variantColor}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="./vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                product: "Socks",
                image: "./assets/watch-product-lockup-callout.png",
                inStock: true,
                details: ['80% cotton', '20% polyester', 'Gender-neutral'],
                variants: [
                    {
                        variantId: 2234,
                        variantColor: "green",
                    },
                    {
                        variantId: 2235,
                        variantColor: "blue",
                    }
                ]
            }
        })
    </script>
</body>

</html>